<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <!--一个根logger，所有其它logger都默认继承它-->
    <root>
      <!--日志级别：OFF FATAL > ERROR > WARN > INFO > DEBUG > ALL 最多一个。 只有在这个级别或之上的事件才会被记录。-->
      <level value="ALL" />
      <!--定义输出到文件中-->
      <appender-ref ref="LogFileAppender" />
      <!--错误日志-->
      <appender-ref ref="ErrorAppender" />
      <!--控制台控制显示日志-->
      <!--<appender-ref ref="ConsoleAppender" />-->
      <!--定义输出到windows事件中-->
      <!--<appender-ref ref="EventAppender"/>-->
    </root>

    <logger name="MyLogger">
      <level value="ALL"/>
      <!--定义输出到文件中-->
      <appender-ref ref="LogFileAppender" />
      <!--错误日志-->
      <appender-ref ref="ErrorAppender" />
      <!--控制台控制显示日志-->
      <!--<appender-ref ref="ConsoleAppender" />-->
      <!--定义输出到windows事件中-->
      <!--<appender-ref ref="EventAppender"/>-->
    </logger>

    <!--appender：定义日志的输出方式，只能作为 log4net 的子元素。name属性必须唯一，type属性必须指定，Appender对象的输出类型。-->
    <!--定义输出到文件中-->
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <!--使用Unicode编码-->
      <encoding value="UTF-8" />
      <!--定义文件存放位置-->
      <param name="File" value="log\\" />
      <param name="DatePattern" value="yyyyMM\\dd&quot;.html&quot;" />
      <param name="AppendToFile" value="true" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
      <param name="MaxSizeRollBackups" value="-1"/>
      <!--每个文件的大小。只在混合方式与文件大小方式下使用。
						超出大小后在所有文件名后自动增加正整数重新命名，数字最大的最早写入。
						可用的单位:KB|MB|GB。不要使用小数,否则会一直写入当前日志-->
      <param name="MaximumFileSize" value="5MB"/>
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <param name="RollingStyle" value="Composite" />
      <!--静态文件名-->
      <param name="StaticLogFileName" value="false" />
      <!--记录日志写入文件时，不锁定文本文件，防止多线程时不能写Log,官方说线程非安全。最小锁定模型以允许多个进程可以写入同一个文件,设置后会有性能问题，一般不用设置。-->
      <!--<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />-->

      <!--记录的格式。一般用log4net.Layout.PatternLayout布局
						%property{Operator}、%property{Action}是自定义的输出
						-->
      <layout type="log4net.Layout.PatternLayout,log4net">
        <!--布局，只能作为<appender>的子元素，最多一个。定义appender使用的输出格式。-->
        <param name="Header" value="&#13;&#10; &lt;hr size=&quot;5&quot; color=&quot;#82d392&quot;/&gt;"/>
        <!-- 转义换行符 \r\n -->
        <param name="Footer" value="&#13;&#10; &lt;hr size=&quot;5&quot; color=&quot;#996600&quot;/&gt;"/>
        <!--输出格式-->
        <conversionPattern value="&lt;meta http-equiv=&quot;Content-Type&quot; content=&quot;text/html; charset=utf-8&quot;&gt;
										&lt;p style=&quot;background-color:#000; color:#808080;&quot;&gt;
										%newline记录时间：%date{yyyy-MM-dd HH:mm:ss.fff} %newline &lt;br /&gt;> 线程ID：[%thread] 日志级别：&lt;span style=&quot;color:#00FFFF;&quot;&gt; %level &lt;/span&gt; 记录器：%logger 行号：%line 浏览器：%property{Browser} IP：%property{IP} Property：[%property{NDC}] RunTime：%rMS %newline &lt;br /&gt;> 详情描述：&lt;span style=&quot;color:#E5E5E5;&quot;&gt; %message &lt;/span&gt;%newline 
										&lt;/p&gt;" />
        <!--HTML段落标记-->

      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <!--过滤器，只能作为<appender>的子元素。定义此app使用的过滤器-->
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="WARN" />
      </filter>
    </appender>

    <!--定义输出到文件中-->
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender,log4net" >
      <!--使用Unicode编码-->
      <encoding value="UTF-8" />
      <!--定义文件存放位置-->
      <param name="File" value="log\\" />
      <param name="DatePattern" value="yyyyMM\\dd&quot;_error.html&quot;" />
      <param name="AppendToFile" value="true" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
      <param name="MaxSizeRollBackups" value="-1"/>
      <!--每个文件的大小。只在混合方式与文件大小方式下使用。
						超出大小后在所有文件名后自动增加正整数重新命名，数字最大的最早写入。
						可用的单位:KB|MB|GB。不要使用小数,否则会一直写入当前日志-->
      <param name="MaximumFileSize" value="5MB"/>
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <param name="RollingStyle" value="Composite" />
      <!--静态文件名-->
      <param name="StaticLogFileName" value="false" />
      <!--记录日志写入文件时，不锁定文本文件，防止多线程时不能写Log,官方说线程非安全。最小锁定模型以允许多个进程可以写入同一个文件,设置后会有性能问题，一般不用设置。-->
      <!--<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />-->

      <!--记录的格式。一般用log4net.Layout.PatternLayout布局
						%property{Operator}、%property{Action}是自定义的输出
						-->
      <layout type="log4net.Layout.PatternLayout,log4net">
        <!--布局，只能作为<appender>的子元素，最多一个。定义appender使用的输出格式。-->
        <param name="Header" value="&#13;&#10; &lt;hr size=&quot;5&quot; color=&quot;#82d392&quot;/&gt;"/>
        <!-- 转义换行符 \r\n -->
        <param name="Footer" value="&#13;&#10; &lt;hr size=&quot;5&quot; color=&quot;#996600&quot;/&gt;"/>
        <!--输出格式-->
        <conversionPattern value="&lt;meta http-equiv=&quot;Content-Type&quot; content=&quot;text/html; charset=utf-8&quot;&gt;
										&lt;p style=&quot;background-color:#000; color:#808080;&quot;&gt;
										%newline记录时间：%date{yyyy-MM-dd HH:mm:ss.fff} %newline &lt;br /&gt;> 线程ID：[%thread] 日志级别：&lt;span style=&quot;color:#F00;&quot;&gt; %level &lt;/span&gt; 记录器：%logger 行号：%line 浏览器：%property{Browser} IP：%property{IP} Property：[%property{NDC}] RunTime：%rMS %newline &lt;br /&gt;> 详情描述：&lt;span style=&quot;color:#FF0;&quot;&gt; %message &lt;/span&gt;%newline 
										&lt;/p&gt;" />
        <!--HTML段落标记-->

      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <!--过滤器，只能作为<appender>的子元素。定义此app使用的过滤器-->
        <param name="LevelMin" value="ERROR" />
        <param name="LevelMax" value="FATAL" />
      </filter>
    </appender>

    <!--定义日志的输出方式 Console-->
    <appender name="ConsoleAppender"  type="log4net.Appender.ConsoleAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <conversionPattern value="%newline %newline记录时间：%date{yyyy-MM-dd HH:mm:ss.fff} %newline&gt; 线程ID：[%thread] 日志级别：%level 记录器：%logger 行号：%line 浏览器：%property{Browser} IP：%property{IP} Property：[%property{NDC}] RunTime：%rMS %newline&gt; 详情描述：%message%newline %newline" />
      </layout>
    </appender>

    <!--定义输出到windows事件中-->
    <appender name="EventAppender" type="log4net.Appender.EventLogAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger %line [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>